include common_head.jade
include common_clickable_image.jade

mixin project_row(icon, title, subtitle, paragraphs, tags, date, detail_page_link, image_url)
    - icon_style = "fa " + icon;
    .row.home-brief(style="padding-bottom:5rem;")
        .col-sm-4.home-project-brief
            hr.separator
            h5.home-project-title
                i(class=icon_style)
                span(style="padding-left:1rem;").
                    &nbsp; #{title}
            h2.home-project-subtitle!= subtitle
            for para in paragraphs
                p.ptufte.home-project-blurb!= para
            h6.ptufte.home-project-tags= tags
            p.ptufte.home-project-blurb= date
            br
            .view-case-study0
                span.view-case-study
                    a(href=detail_page_link) View case study
        .col-sm-8.project-banner-setting
            .card1(style="padding:1rem;")
                a(href=detail_page_link)
                    img.img-fluid(src=image_url)


html(lang="end")
    head
       +head_mixin("Radhika Kolathumani's portfolio", "index")
    body
        .container
            .row.headline
                .col-sm-6
                    h1.site-title Radhika Kolathumani
                    img(src="path1.png" class="img-responsive process_diagram")
                    //-
                        div(style="position:relative;")
                            canvas(style="border 1px solid white; display:block; width: 100%; margin:0 auto; padding: 0 auto;" id="canvas" height="50px")
                            div(style="position:absolute; left:50%; top: 0; width:100%;")
                                .site-sub-title(id="spanbox" style='position: relative; left:-50%; top:0;')
                                    span#T1.step Ideation &mdash;
                                    span#T2.step Research &mdash;
                                    span#T3.step Design &mdash;
                                    span#T4.step Code &mdash;
                                    span#T5.step(ids="T3") Measure
                #site-menu1.site-menu.col-sm-6
                    h6
                        span.selected work
                        span &nbsp;/&nbsp;
                        a(href="story.html") my story
                        span &nbsp;/&nbsp;
                        a(href="resume.pdf") r&eacute;sum&eacute;
                    h6
                        a(href="graphic.html") graphic design
                    h6
                        a(href="https://www.twitter.com/frosted2fire")
                            i.fa.fa-twitter
                        span &nbsp;/&nbsp;
                        a(href="https://www.linkedin.com/in/radhikak1")
                            i.fa.fa-linkedin
            
            +project_row(
                "fa-car", 
                "Instapark", 
                "The Airbnb for University parking", 
                [
                    "There are several untapped opportunities for finding cheap parking spots in Ann Arbor. Parking prices vary through the day at various places and students are eager to rent out their personal spots for some extra money. Unfortunately, no centralized platform exists to make this happen. I built an app to address these needs"
                ], 
                "ideation, research, design, evaluate", 
                "Sep '15 - Dec '15", 
                "instapark.html", 
                "http://placehold.it/1500x925"
            )

            +project_row(
                "fa-gamepad", 
                "Latitude 90 - the origin", 
                "First mobile-social hybrid deduction game", 
                [
                 "Gaming company <a href=\"http://www.ghostroadhouse.com/\">Ghost roadhouse</a> wanted us to redesign their game Latitude 90 for iOS. Latitude 90 is a first of it's kind hybrid mobile-social deduction game similar to werewolf and mafia. Client received addititional funding from Kickstarter due to this redesign."
                ], 
                "research, redesign", 
                "Sep '15 - Dec '15", 
                "origin.html", 
                "img/origin_banner_resized_3.png"
            )
            
            +project_row(
                "fa-desktop",
                "My portfolio website design",
                "User-centered portfolio design",
                [
                    "An journey filled with lessons and learnings as I ventured to build a portfolio capturing my work. Experiences in an UX approach to portfolio website design, website creation and front-end development."                
                ],
                "HTML, CSS3, SCSS, Jade, Bootstrap v3, Javascript",
                "Dec'16 - Jan'17",
                "website_design.html",
                "http://placehold.it/1500x925"
            )
            
            +project_row(
                "fa-question-circle",
                "CSS Quizzer",
                "Teach CSS3 through quiz",
                [
                    "I learnt CSS myself through quizzing. I wanted to help others learn CSS the same way. So, I developed a web application using Python Flask and Bootstrap"
                ],
                "Python, Flask, Jinja, Bootstrap",
                "Nov'15 - Dec'15",
                "cssquiz.html",
                "http://placehold.it/1500x925"
            )
            
            +project_row(
                "fa-trophy",
                "Shure design jam",
                "Making music truly social",
                [
                    "Many music apps focus on managing song libraries and listening. Shure wanted a music app that is social to help promote brand awareness of their Sound instruments.",
                    "We <strong>designed an app in 1.5 hours and won 2nd place!</strong>"
                ],
                "Idea generator, Paper mockups, Material design",
                "September 2015 - 1.5 hours",
                "shure.html",
                "http://placehold.it/1500x925"    
            )
            
            +project_row(
                "fa-medkit",
                "Diabetes prevalence analysis",
                "Is income &amp; diabetes prevalence related?",
                [
                    "I applied data visualization principle to uncover relation between diabetes prevalence and income of nations."
                ],
                "Data set collection, Programming, Data visualization",
                "February 2016 - 1 day",
                "diabetes.html",
                "http://placehold.it/1500x925"   
            )
            
            //-
                .row
                    .col-sm-12(style="padding-bottom: 2rem;")
                        h2.h2tufte My UX approach
                    .col-sm-12
                        +card_no_title_v4("http://placehold.it/1500x925")
                        
            
        script.                    
            $(window).bind("load", function() {
                draw();
            });
